body {
    background-color: lightblue;
}


#brasil {
    border: solid 5px green;
    width: 80vw;
    height: 60vh;
    background-color: lightblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.brasilimg {
    height: 40vh;
    width: 20vw;
}

h1 {
    text-align: center;
    color: green;
    border: solid green 3px;
    font-size: 60px;
    background-color: greenyellow;
    font-family: fontboa;
}

h2 {
    font-size: 45px;
    color: green;

}

@font-face {
    font-family: fontboa;
    src: url(get_schwifty.ttf);
}